@layer bootstrap, main;
@layer main {
  /* GENERAL STYLE */
  :root {
    --main-color: #8e7754;
    --white: white;
    --black: black;
    --upper-footer: #403d38;
    --lower-footer: #353330;
  }
  body {
    font-family: "Alegreya", serif;
    scroll-behavior: auto;
  }
  p,
  li {
    font-family: "Alegreya Sans", serif;
  }
  a {
    text-decoration: none;
    color: var(--white);
  }

  /* HEADER */
  header{
    min-height: 35vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/drew-coffman-1872.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* OUR STORY */
  section .story-det >:nth-child(2)::after{
    content: '';
    width: 50px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.144);
    position: absolute;
    left: 0%;
    bottom: -20%;
  }

  /* WHY OUR BAKERY */
  section .why-title i{
    color: var(--main-color);
  }

  /* COUNTER */
  #counter{
    background-color: var(--main-color);
    color: var(--white);
  }
}